{% extends 'base.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      
        {% block sidebar %}
        
        
        <div class='d-flex mt-3 mb-2'>
            <form method="GET" action="{% url 'projectStore:projectList'%}" class="d-flex">
                <input class="form-control me-sm-2" name='q' type="text" placeholder="Search courses...">
            </form>
        </div>
                       

        <div>
            <a class="text-decoration-none" href="{% url 'projectStore:department'%}">All Courses</a>
        </div>
        <hr>

        <div>
            {% for department in dept  %}
            
                <div>
                    <a class="text-decoration-none" href="{% url 'projectStore:courses' department.name  %}?q={{department.name}}">
                        {{department.name}}
                    </a>
                </div>
            {% endfor %}
        </div>
        
        {% endblock sidebar %}





        
        {% block content %}
        <h1 class="text-center">ABOUT SOFTEDUPROJECT</h1>
        <hr>
        
        <h5>Welcome to Softeduproject</h5>
        Softeduproject assist final year students with quality, well researched, reliable and ready made project work. 
        Our materials are recent, complete (chapter 1 -5, with references) and well written.

        Simply select your department, choose from our list of topics available and fill in your data to download
        Getting Started
    <h6>How to use our service</h6>
        <ol>
            <li>Select a department</li>
            <li>Click on click on a topic under the department you have selected</li>
            <li>View the abstract and chapter 1 of the project work.</li>
        <li>Fill the form on the top left page</li>
        <li>You will receive your DOWNLOAD CODE and download full project, once the basic requirements has been met</li>
	<h6>Other Notes</h6>
        </ol>
        <p>	
<em>* All our materials are already written project work.</em><br>
	
<em>* Please do not submit or copy the projects you receive words to words.</em><br>
For further info</em>
07013445496
E-mail
cp4reallife@gmail.com
<br>
        </p>
<b>Disclaimer</b>
<p>
Softeduproject.com will only provide projects as a reference for your research. 
The projects ordered and produced should be used as a guide or framework for your own project.
 The contents of the projects should be able to help you in generating new ideas and thoughts 
 for your own project.</p>
<p>
 It is the aim of Softeduproject to only provide guidance by which the projects should be pursued.
We are neither encouraging any form of plagiarism nor are we advocating the use of the projects produced herein for cheating.
</p>

<h6><b>Terms and Condition</b></h6><br>
<p>
Using our service is LEGAL and IS NOT prohibited by any university/college policies. 
You are allowed to use the original model papers you will receive in the following ways:
<ul>

    <li>As a source for additional understanding of the subject</li>
    <li>As a source for ideas for you own research (if properly referenced)</li>
    <li>For PROPER paraphrasing ( see your university definition of plagiarism and acceptable paraphrase)
    Direct citing ( if referenced properly)</li>

Thank you so much for your respect to the authors copyright

    </p>
<h6><b>Copyright infringement or plagiarism</b><h6><br>

<p>
We take the intellectual property rights of others seriously and require that our customers 
and their end users do the same. If you believe we or someone has uploaded content to our 
website or service that infringes your copyright or your trademark,
 please let us know by sending us an infringement notice as described below.
  We will take appropriate actions
<h6>Copyright Notices:<h6><br>

For copyright notices, first you must either own a copyright or have authority to act on behalf of a copyright owner.
 If that’s the case, and you want to report a claim that a third party is infringing that material on 
 or through our website or service, please send a notice to us that includes all of the items below and we will take
  appropriate action:

    <li>Identification of the work or material being infringed.</li>
    <li>Identification of the material that is claimed to be infringing,<br> 
        including its Project Id, with sufficient detail so that projectng is 
        capable of finding it and verifying its existence.</li>
    <li>Contact information for the notifying party, including name, address, telephone number and e-mail address.</li>
    <li>A statement that the notifying party has a good faith belief that the material is not authorized by the copyright owner,
         <br>its agent or law.</li>
   <li> A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has
     been allegedly infringed.</li>

Please send these claims to: cp4reallife@gmail.com
        {% endblock content %}
    </body>
</html>