{% extends 'base.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        
        {% block sidebar %}

        <div>
            <a class="text-decoration-none" href="{% url 'projectStore:department'%}">All Courses</a>
        </div>
        <hr>

        <div>
            {% for department in dept  %}
            
                <div>
                    <a class="text-decoration-none" href="{% url 'projectStore:courses' department.name  %}?q={{department.name}}">{{department.name}}</a>
                </div>

            {% endfor %}


        </div>
        {% endblock sidebar %}


        <!--Start of Main content-->
        {% block content %}
    
        <div class="row">
            <div class="col-12">
                <div class="card bg-light ms-4 mc-4 mb-4 ">
                    <div class="card-header d-flex justify-content-center">LIST OF DEPARMENTS & COURSES </div>
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-center ">COURSES </h4>
                        <!--looping through List of Departments-->
                        {% for department in dept  %}
                        <p class="card-text">
                         <li class="list-unstyled list-group-item d-flex justify-content- aling-items-center">
                            
                        <a class="text-decoration-none" href="{% url 'projectStore:courses' department.name %}"> <p>{{department.name}}</p></a>
                    {% endfor %}
                            <!--End of Loop-->
                        </div>
                
                    
                </div>
            </div>
        
        </div>
        {% endblock content %}
        
        <!--End Of Main content-->
    
    </body>
</html>