{% extends 'base.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      
        {% block sidebar %}
        
        
        <div class='d-flex mt-3 mb-2'>
            <form method="GET" action="{% url 'projectStore:projectList'%}" class="d-flex">
                <input class="form-control me-sm-2" name='q' type="text" placeholder="Search courses...">
            </form>
        </div>
                       

        <div>
            <a class="text-decoration-none" href="{% url 'projectStore:department'%}">All Courses</a>
        </div>
        <hr>

        <div>
            {% for department in dept  %}
            
                <div>
                    <a class="text-decoration-none" href="{% url 'projectStore:courses' department.name  %}?q={{department.name}}">
                        {{department.name}}
                    </a>
                </div>
            {% endfor %}
        </div>
        
        {% endblock sidebar %}





        
        {% block content %}
        
        
        <h4>Payment Mode</h4>
        <p class="card-text">


  We are happy to offer instant delivery of projects listed on our website. 
  After making your payment. Text OR WhatsApp us the following details:
      <ol>
          <li>Payee Name</li>
          <li>Transfer Ref NO.</li>
          <li>Amount paid</li>
          <li>Payment Date</li>
          <li>project title to be downloaded</li>
          <li>Email</li> OR
          <li>WhatsApp Contact</li>                                   
      </ol>
      After recieveing and confirming this details from you. Then expect the project material with 30 to 45 minite same day
      </p>
      <P>
        <hr>
        <h5>ACCOUNT DETAILS</h5>
        <br>
            Bank: United Bank Of Africa (UBA) <br>
            Acount Name: OGBU CYPRIAN OMOHA<br>
            Account Number: 2079637279<br>

      </P>
      <hr>
      <h5>  USSD Transfer  </h5>
      you can still choose to Transfer using USSD. after a successfull Transfer
      send use details of payment. 
      <hr>
      <h5>Instant CARD Payment</h5>
      <h6>Coming soon...</h6>
        {% endblock content %}
    </body>
</html>