[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.9.3"
django = "==4.0.4"
django-mptt = "==0.13.4"
pillow = "==8.4.0"
django-crispy-forms = "==1.13.0"
dj-database-url = "*"
django-heroku = "==0.3.1"
django-storages = "==1.7.1"
gunicorn = "==19.9.0"
jmespath = "==0.9.3"
psycopg2 = "==2.9.3"
python-dateutil = "==2.8.0"
pytz = "==2018.5"
requests = "==2.19.1"
urllib3 = "==1.23"
whitenoise = "==4.1.2"
django-environ = "==0.9.0"
psycopg = "==3.0.15"
django-dotenv = "==1.4.2"
django-cors-headers = "==3.13.0"
django-debug-toolbar = "*"
asgiref = "==3.5.2"
"backports.zoneinfo" = "==0.2.1"
certifi = "==2022.6.15"
chardet = "==3.0.4"
django-js-asset = "==2.0.0"
idna = "==2.7"
sqlparse = "==0.4.2"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
