<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      
        <footer class="mt-auto mb-4 col-md-12 col-sm-12">
            <p>
                <a href="https://facebook.com/nceprojectwork/" class="fa fa-facebook"></a>
                <a href="https://api.whatsapp.com/send?phone=07013445496&text=Hello%20Sumit.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#" class="fa fa-whatsapp"></a>
                <a href="https://twitter.com/otechz" class="fa fa-twitter"></a>
            </p>

            <div class="text-center">
                <span>
                    copyright &copy; <script> document.write(new Date().getFullYear())</script> Cysoft-Home
                </span>
            </div>
        </footer>
        
    </body>
</html>