<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'projectStore:home' %}">SoftEduProject</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'projectStore:home' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectStore:projectList'%}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectStore:department'%}">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectStore:hirewriter'%}">Hirw A Writer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectStore:payment'%}">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactus:contactform'%}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectStore:about'%}">About Us</a>
          </li>
          </ul>
        <form class="d-flex" method="GET" action="{% url 'projectStore:projectList'%}">
          <input class="form-control me-sm-2" type="text" name='q' placeholder="Search">
    
        </form>
      </div>
    </div>
  </nav>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>

  